# Supabase API Credentials
# Dapatkan nilai ini dari Supabase Dashboard -> Project Settings -> API
VITE_SUPABASE_URL=https://byulyxrpkcmzltorxqpd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5dWx5eHJwa2Ntemx0b3J4cXBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1Mjc2NzQsImV4cCI6MjA5NzEwMzY3NH0.TLEvIn2ZhtgdhxR07rVdLZndqeoqaEnE_4APDrd8jwM